<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RMIS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RMIS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index/dropdown.css" />
    <link rel="stylesheet" href="~/css/index/panel.css" />
    <link rel="stylesheet" href="~/css/index/_layout.css" />
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/leaflet/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.gridlayer.googlemutant@latest/dist/Leaflet.GoogleMutant.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-pip@latest/leaflet-pip.min.js"></script>

    <script src="~/lib/turf.js"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .content-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="content-wrapper">
        <header class="gx-0 custom-header" style="display:flex">
            <div class="">
                <div class="nav-item">
                    <button class="dropdown-button" onclick="location.href='@Url.Action("Index", "Home")'">首頁</button>
                </div>
                <div class="nav-item dropdown">
                    <button class="dropdown-button" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        管理員
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddMapSource">新增圖源</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddCategory">新增類別</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddPipeline">新增管線</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddRoad">新增路線</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddRoadByCSV">上傳路線資料</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddCategoryByJson">上傳圖資類別</a></li>
                    </ul>
                </div>
                @if (IsSectionDefined("HomeHeaderToolBar"))
                {
                    @RenderSection("HomeHeaderToolBar", required: false)
                }
            </div>
            @if (IsSectionDefined("HomeHeaderNavList"))
            {
                @RenderSection("HomeHeaderNavList", required: false)
            }
        </header>
        @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
