<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/_layout.css" />
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />
    <link rel="stylesheet" href="~/lib//leaflet-geoman/leaflet-geoman.css" />

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/leaflet/leaflet.js"></script>

    <script src="~/lib/leaflet-geoman/leaflet-geoman.min.js"></script>

    <!-- ✅ JavaScript 放在底部依序 -->
    <script src="~/lib/select2/select2.min.js"></script>
    <script src="~/lib/pikaday/pikaday.js"></script>
    <script src="~/lib/jQuery-QueryBuilder/query-builder.standalone.min.js"></script>
    <script src="~/lib/leaflet-draw/leaflet.draw.js"></script>
    <script src="~/lib/xlsx/xlsx.full.min.js"></script>
    <script src="~/lib/leaflet-polylinedecorator/leaflet-polylinedecorator.js"></script>
    <script src="~/lib/leaflet-markercluster/leaflet.markercluster.js"></script>
    <script src="~/lib/togeojson/togeojson.js"></script>
    <script src="~/lib/leaflet-omnivore/leaflet-omnivore.min.js"></script>
    <script src="~/lib/leaflet-gridlayer-googlemutant/Leaflet.GoogleMutant.js"></script>
    <script src="~/lib/leaflet-pip/leaflet-pip.min.js"></script>
    <script src="~/lib/leaflet-geometryutil/leaflet.geometryutil.min.js"></script>
    <script src="~/lib/leaflet-editable/Leaflet.Editable.js"></script>
    <script src="~/lib/proj4/proj4.js"></script>
    <script src="~/lib/turf/turf.js"></script>
    <script src="~/js/sessionManager.js"></script>

    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .content-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="content-wrapper">
        @RenderBody()

        @RenderSection("painterPanel", required: false)
        @RenderSection("searchPropPanel", required: false)
        @RenderSection("flagPanel", required: false)
        @RenderSection("focusPanel", required: false)
        @RenderSection("measurePanel", required: false)
        @RenderSection("metaDataPanel", required: false)
        @RenderSection("projectPanel", required: false)
        @RenderSection("roadMaintPanel", required: false)
        @RenderSection("searchPanel", required: false)
        @RenderSection("accidentPanel", required: false)

    </div>
    @await RenderSectionAsync("Scripts", required: false)
    <div class="modal fade" id="extendSessionModal" tabindex="-1" aria-labelledby="extendSessionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="extendSessionModalLabel">登入即將過期</h5>
                </div>
                <div class="modal-body">
                    您的登入即將到期，是否延長？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="logoutBtn">登出</button>
                    <button type="button" class="btn btn-primary" id="extendBtn">延長登入</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
